body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

h1 {
    color: rgb(0, 255, 0);
}

p {
    color: rgb(0, 255, 0);
    font-size: 18px;
}
b {
    color: rgb(0, 255, 0);
    font-size: 25px;
}
button {
    background-color: rgb(0, 255, 0);
    color:rgb(0, 0, 0);
    font-size: 18px;
}
button {
    border-style: outset;
    border-radius: 15px;
}
iframe {
    border-radius: 15px;  /* Adjust the value as needed */
    overflow: hidden;     /* Ensures content inside the iframe follows the rounded corners */
}
.box {
    width: 250px;  /* Adjust the width of the box */
    padding: 10px;
    background-color: #0a5700;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}

.box-image {
    width: 100%;  /* Image takes up the full width of the box */
    height: auto;  /* Keeps aspect ratio intact */
    max-height: 150px;  /* Limits the height of the image */
    border-radius: 10px;
}

.box-text {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;  /* Smaller font size for the text */
}

button:hover {
    background-color: rgb(0, 189, 0);  /* Darken button on hover */
}
.center {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    text-align: center; /* Ensures text inside is centered */
  }
hr {
    border-color: rgb(0, 255, 0);
    border-style: double;
}
.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 10px; /* Optional */
  }
  i {
    color: rgb(0, 255, 0);
    font-size: 11px;
  }
  .fixed-bottom2 {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    z-index: -50;
}
.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
